{% extends 'base/main.html' %}
{% block content %}
       <div class="dropdown">
              <button class="drop-down-btn">topics</button>
              <div class="drop-down-content">
                     <br>
                     <input type="text" placeholder="Search.....">
                     {% for topic in topics %}
                            <a href=" {% url 'topic' topic|slugify %}">{{topic}}</a>
                     {% endfor %} 
              </div>
       </div>
       {% if request.user.is_authenticated %}
              <a href="{% url 'profile' %}">Profile </a>
              <div class="body">
                     <div class="post-body">
                            <h1>Recent Posts</h1>
                            <hr>
                            <br>
                            <a href="{% url 'create' %}">Create Post</a> 
                            <br>
                            {% for post in posts %}
                                   <div class="post-body-content">
                                          @{{post.author}} - <small><i>{{post.created}} </i></small> <br>
                                          Topic: <a href="{% url 'topic' post.Topic %}">{{post.Topic}}</a> <br>
                                          <a href="{% url 'post' post.id %}">{{post}}</a> <br>
                                          <small>
                                                 {{post.liked.count}} 
                                                 {% if post.liked.count > 1 %} 
                                                        likes
                                                 {% else %}
                                                        like
                                                 {% endif %}
                                          </small>
                                          {% if request.user.username == post.author.username %}
                                                <span class="delete"><small><a href="{% url 'delete' post.id %}"> Delete</a></small></span> 
                                          {% endif %}
                                   </div>
                            {% endfor %}
                            
                     </div>
              </div>
       {% else %}
              <div class="body">
                     <div class="post-body">
                            <h1>Recent Posts</h1>
                            <hr>
                            <br>
                            {% for post in posts %}
                                   <div class="post-body-content">
                                          @{{post.author}} - <small> <i>{{post.created}} </i></small> <br>
                                          Topic: <a href="{% url 'topic' post.Topic %}">{{post.Topic}}</a> <br>   
                                   </div>
                            {% endfor %}
                            
                     </div>
              </div>
       {% endif %}
{% endblock %}
